$px-theme: #ff9301 !default;
$px-dark: #0b0b13 !default;
$px-white: #fff !default;
$px-black: #000 !default;

$px-bg-1: #10101a !default;
$px-bg-2: #0e0e17 !default;
$px-bg-3: #0c0c14 !default;
$px-gray: #f7f7ff !default;

$px-body: rgba(255, 255, 255, 0.8) !default;
$px-body-light: #555 !default;
$px-font-size: 15px !default;
$px-line-height: 1.7 !default;
$px-font: var(--font-rubic);
$px-font-alt: var(--font-rubic);

// Breakpoints
$px-media-xsm: 567px !default;
$px-media-sm: 767px !default;
$px-media-md: 991px !default;
$px-media-lg: 1200px !default;
